<% if @empty %>
	<p> You do not have any To Do List.<br>Please create one.<br></p>
	<form action="/list/create" method="post">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
		<label for="title">Title</label><br>
		<input type="text" name="list[title]"><br>
		<input type="submit" value="Create To Do List">
	</form>
<% end %>

<% if @list %>
<%= @list.title %><br><br>
	<table>
	<% @tasks.each do |t| %>
		<tr>
		<td><% if t.status == false %>
			<%= "[ ]" %>
			<% else %>
			<%= "[X]" %>
			<% end %></td>
		<td><%= t.description %></td>
		<td>
		<form action="/task/complete" method="post" >
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
		<input type="hidden" name="task_id" value="<%= t.id%>">
		<input type="submit" value="Status update">
	</form>
		</tr>
	<% end %>
	</table>
	<br><br><br>
	<form action="/task/create" method="post" >
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
		<input type="hidden" name="list_id" value="<%= @list.id%>">
		<label for="description">Add new task</label><br>
		<input type="text" name="description"><br>
		<input type="submit" value="Add task to list">
	</form>
	<br>
	<form action="/list/destroy" method="post" >
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
		<input type="hidden" name="list_id" value="<%= @list.id%>">
		<input type="submit" value="Delete the list">
	</form>

<% end %>