<!DOCTYPE html>
<html>
<head>
  <title>FinalToDoList</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
    <div class="text-center <%= flash_class(key) %>">
      <%= value %>
    </div>
<% end %>
<% if session[:user_id] %>
<%= link_to "Profile", profile_path %>&nbsp <%= link_to "To Do List", list_index_path %>&nbsp <%= link_to "Logout", user_logout_path %>
<% end %>
<br>
<br>
<br>
<%= yield %>

</body>
</html>
